<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row">
    <div class="col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="text-center">
          <h1>Welcome To </h1>
          <h2>Bar Time!!</h2>
          </p>
          <p>いつでもどこでも気軽に好みのBARを探せるサイト！
          </p>
          <p>好みの居場所でゆったりとした時間をお過ごしください！
          </p>
      </div>
    </div>
  </div>
</div>